@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flipXY {
  from {
    transform: rotateX(90deg) rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: rotateX(0deg) rotateY(0deg);
    opacity: 1;
  }
}

.flip-xy-on-load {
  animation: flipXY 1s ease-out forwards;
  transform-style: preserve-3d; 
  backface-visibility: hidden;  
}
